<div class="container mt-5">
    <div class="row">
       <div class="col">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Email</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Role</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of userData">
                <th>{{item.email}}</th>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.role}}</td>
                <td><button>Delete</button></td>
              </tr>
            </tbody>
          </table>
       </div>
    </div>

</div>